<div class="container">
	<div class="instructions">
		<div class="step step1">Pick a city</div>
		<div class="step step2">Pick a category (optional)</div>
		<div class="step step3">Type what you're searching for</div>
		<div class="step step4">Click the search button</div>
	</div>

	<div class="alert">
		<strong>WARNING:</strong> I have only tested this on Chrome and it's NOT mobile friendly. Oh and it could also stop working at any moment due to Craigslist temp banning scraping sites.
	</div>
</div>