<div class="container">
	<ol class="instructions">
		<li class="step step0">Click the search icon</li>
		<li class="step step1">Pick a city</li>
		<li class="step step2">Pick a category (optional)</li>
		<li class="step step3">Type what you're searching for</li>
		<li class="step step4">Click the search button</li>
	</ol>
	<p>I created this site to test out how I would like to be able to search Craigslist.  Pictures are 1000% better than words!</p>
	<div class="alert">
		<strong>WARNING:</strong> This could also stop working at any moment due to Craigslist temp banning scraping sites.
	</div>
</div>