<div class="instructions">
	<div class="step step1">Pick a city</div>
	<div class="step step2">Pick a category (optional)</div>
	<div class="step step3">Type what you're searching for</div>
	<div class="step step4">Click the search button</div>
</div>