/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require bootstrap-responsive.min
*/

header {
	.navbar-search {
		input { width: 250px; }
		.btn { margin-top: 0;}
	}
}

.listings * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.listings {
	display: none;
	background-color: grey;
	position: fixed;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;

	a {
		position: relative;
		display: inline-block;
		min-width: 150px;
		min-height: 150px;

		span.title {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: black;
			display: none;
		}
	}

	a:hover {
		span.title { display: inline;}
	}

	img {
		max-width: 245px;
		max-height: 245px;
	}
}
