/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require bootstrap-responsive.min
*/

$collapse: 980px;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
	.navbar-search {
		input { height: 30px;}
		.btn { margin-top: 0;}
		select { margin-bottom: 0;}

		@media only screen and (max-width: $collapse) {
			select, input, .btn {
				display: block;
				margin: 5px;
			}
		}
	}

	.processing { display: none; }
}

.step1 { width: 215px; }
.step2 { width: 210px; }
.step3 { 
	width: 264px; 

	@media only screen and (max-width: 1200px) {
		width: 200px;
	}

}
.step4 { width: 145px; }


@media only screen and (max-width: $collapse) {
	header .nav-collapse {
		z-index: 4000;
		background-color: #0E0E0E;
		width: 100%;
		top: -5px;
		left: -5px;
	}
}

@media only screen and (max-width: $collapse) {
	footer { display: none !important; }
}

.body .alert { margin-top: 30px; }

.instructions {
	.step {
		display: inline-block;
		padding: 50px 5px 5px 5px;
		background-image: url('img_up_arrow.gif');
		background-repeat: no-repeat;
		background-position: 10% 0;
		vertical-align: top;
		font-size: 1.3em;
	}

	.step0 { display: none;}

	.step1 { margin-left: 130px; }

	@media only screen and (max-width: $collapse) {
		.step {
			display: list-item;
			margin: 0;
			background-image: none;
			padding: 5px 0;
			width: auto;
		}
	}
}

.listings {
	display: none;
	background-color: grey;
	width: 100%;
	margin-top: 0;
	padding-bottom: 80px;

	@media only screen and (max-width: $collapse) {
		margin-top: 0;
	}

	.listing { 
		display: inline-block; 
		position: relative;
		min-width: 245px;
		text-align: center;

		a {
			display: inline-block;
			min-width: 150px;
			min-height: 150px;
		}

		img {
			max-width: 245px;
			max-height: 245px;
		}	
		
		.info-block {
			position: relative;
			display: none;
			bottom: 0;
			width: 100%;
			z-index: 5000;

			.title { 
				width: 75%;
				font-size: 12px; 
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}

			.price {
				width: 20%;
				font-size: 24px;
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}

			.info {
				position: absolute;
				background-color: black;
				padding: 5px;
				color: white;
				width: 100%;
				top: 0;
				z-index: 5000;
			}
		}	
	}

	.listing:hover {
		.info-block { display: block; }
	}

	.spinner {
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}

}

h3 { text-align: center; }
