<!DOCTYPE html>
<html>
<head>
  <title>VisualCraigslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="navbar navbar-inverse navbar-static-top" style="position: static;">
	    	<div class="navbar-inner">
	        	<div class="container">
	            	<a class="brand" href="#">Visual Craigslist</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
						<form class="navbar-search pull-left" action="">
							<select name="site">
								<option value="cincinnati">Cincinnati</option>
								<option value="dayton">Dayton</option>
							</select>
							<select name="category">
								<option value="sss">All Categories</option>
								<option value="taa">Toys</option>
								<option value="fua">Furniture</option>
							</select>
							<input name="searchTerm" type="text" class="search-query span2" placeholder="Search">
							<button type="button" class="btn btn-primary search">Search</button>
						</form>
					</div><!-- /.nav-collapse -->
				</div>
			</div><!-- /navbar-inner -->
		</div>
	</header>
	<section class="body">
		<%= yield %>
	</section>

<script id="listingTpl" type="text/x-handlebars-template">
	<div class="listing">
	  	<a href="{{link}}" target="_blank">
		  {{#if pics}}
		  		<img src="{{../pics.0.}}"/>
		  {{/if}}
		  {{^pics}}
		  		<img src="assets/no-photo.jpeg"/>
		  {{/pics}}
	  	</a>
	  	<div class="info-block">
	  		<div class="info">
		  		<div class="title">{{title}}</div>
		  		<div class="thumbs">
		  		{{#pics}}
		  			<img src="{{thumbnail .}}"/>
		  		{{/pics}}
		  		</div>
	  		</div>
	  	</div>
	</div>
</script>

</body>
</html>
