<!DOCTYPE html>
<html>
<head>
  <title>VisualCraigslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top" style="position: static;">
	    	<div class="navbar-inner">
	        	<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<i class="icon-search icon-white"></i>
					</a>	        		
	            	<a class="brand" href="#">Visual Craigslist</a>
	            	<div class="nav-collapse collapse">
						<form class="navbar-search pull-left" action="">
							<select name="site" class="step1">
								<option value="auburn">AL - auburn</option>
								<option value="bham">AL - birmingham</option>
								<option value="dothan">AL - dothan</option>
								<option value="shoals">AL - florence / muscle shoals</option>
								<option value="gadsden">AL - gadsden-anniston</option>
								<option value="huntsville">AL - huntsville / decatur</option>
								<option value="mobile">AL - mobile</option>
								<option value="montgomery">AL - montgomery</option>
								<option value="tuscaloosa">AL - tuscaloosa</option>
								<option value="anchorage">AK - anchorage / mat-su</option>
								<option value="fairbanks">AK - fairbanks</option>
								<option value="kenai">AK - kenai peninsula</option>
								<option value="juneau">AK - southeast alaska</option>
								<option value="flagstaff">AZ - flagstaff / sedona</option>
								<option value="mohave">AZ - mohave county</option>
								<option value="phoenix">AZ - phoenix</option>
								<option value="prescott">AZ - prescott</option>
								<option value="showlow">AZ - show low</option>
								<option value="sierravista">AZ - sierra vista</option>
								<option value="tucson">AZ - tucson</option>
								<option value="yuma">AZ - yuma</option>
								<option value="fayar">AR - fayetteville </option>
								<option value="fortsmith">AR - fort smith</option>
								<option value="jonesboro">AR - jonesboro</option>
								<option value="littlerock">AR - little rock</option>
								<option value="texarkana">AR - texarkana</option>
								<option value="bakersfield">CA - bakersfield</option>
								<option value="chico">CA - chico</option>
								<option value="fresno">CA - fresno / madera</option>
								<option value="goldcountry">CA - gold country</option>
								<option value="hanford">CA - hanford-corcoran</option>
								<option value="humboldt">CA - humboldt county</option>
								<option value="imperial">CA - imperial county</option>
								<option value="inlandempire">CA - inland empire</option>
								<option value="losangeles">CA - los angeles</option>
								<option value="mendocino">CA - mendocino county</option>
								<option value="merced">CA - merced</option>
								<option value="modesto">CA - modesto</option>
								<option value="monterey">CA - monterey bay</option>
								<option value="orangecounty">CA - orange county</option>
								<option value="palmsprings">CA - palm springs</option>
								<option value="redding">CA - redding</option>
								<option value="sacramento">CA - sacramento</option>
								<option value="sandiego">CA - san diego</option>
								<option value="sfbay">CA - san francisco bay area</option>
								<option value="slo">CA - san luis obispo</option>
								<option value="santabarbara">CA - santa barbara</option>
								<option value="santamaria">CA - santa maria</option>
								<option value="siskiyou">CA - siskiyou county</option>
								<option value="stockton">CA - stockton</option>
								<option value="susanville">CA - susanville</option>
								<option value="ventura">CA - ventura county</option>
								<option value="visalia">CA - visalia-tulare</option>
								<option value="yubasutter">CA - yuba-sutter</option>
								<option value="boulder">CO - boulder</option>
								<option value="cosprings">CO - colorado springs</option>
								<option value="denver">CO - denver</option>
								<option value="eastco">CO - eastern CO</option>
								<option value="fortcollins">CO - fort collins / north CO</option>
								<option value="rockies">CO - high rockies</option>
								<option value="pueblo">CO - pueblo</option>
								<option value="westslope">CO - western slope</option>
								<option value="newlondon">CT - eastern CT</option>
								<option value="hartford">CT - hartford</option>
								<option value="newhaven">CT - new haven</option>
								<option value="nwct">CT - northwest CT</option>
								<option value="delaware">DE - delaware</option>
								<option value="washingtondc">DC - washington</option>
								<option value="daytona">FL - daytona beach</option>
								<option value="keys">FL - florida keys</option>
								<option value="fortlauderdale">FL - fort lauderdale</option>
								<option value="fortmyers">FL - ft myers / SW florida</option>
								<option value="gainesville">FL - gainesville</option>
								<option value="cfl">FL - heartland florida</option>
								<option value="jacksonville">FL - jacksonville</option>
								<option value="lakeland">FL - lakeland</option>
								<option value="lakecity">FL - north central FL</option>
								<option value="ocala">FL - ocala</option>
								<option value="okaloosa">FL - okaloosa / walton</option>
								<option value="orlando">FL - orlando</option>
								<option value="panamacity">FL - panama city</option>
								<option value="pensacola">FL - pensacola</option>
								<option value="sarasota">FL - sarasota-bradenton</option>
								<option value="miami">FL - south florida</option>
								<option value="spacecoast">FL - space coast</option>
								<option value="staugustine">FL - st augustine</option>
								<option value="tallahassee">FL - tallahassee</option>
								<option value="tampa">FL - tampa bay area</option>
								<option value="treasure">FL - treasure coast</option>
								<option value="westpalmbeach">FL - west palm beach</option>
								<option value="albanyga">GA - albany </option>
								<option value="athensga">GA - athens</option>
								<option value="atlanta">GA - atlanta</option>
								<option value="augusta">GA - augusta</option>
								<option value="brunswick">GA - brunswick</option>
								<option value="columbusga">GA - columbus </option>
								<option value="macon">GA - macon / warner robins</option>
								<option value="nwga">GA - northwest GA</option>
								<option value="savannah">GA - savannah / hinesville</option>
								<option value="statesboro">GA - statesboro</option>
								<option value="valdosta">GA - valdosta</option>
								<option value="honolulu">HI - hawaii</option>
								<option value="boise">ID - boise</option>
								<option value="eastidaho">ID - east idaho</option>
								<option value="lewiston">ID - lewiston / clarkston</option>
								<option value="twinfalls">ID - twin falls</option>
								<option value="bn">IL - bloomington-normal</option>
								<option value="chambana">IL - champaign urbana</option>
								<option value="chicago">IL - chicago</option>
								<option value="decatur">IL - decatur</option>
								<option value="lasalle">IL - la salle co</option>
								<option value="mattoon">IL - mattoon-charleston</option>
								<option value="peoria">IL - peoria</option>
								<option value="rockford">IL - rockford</option>
								<option value="carbondale">IL - southern illinois</option>
								<option value="springfieldil">IL - springfield </option>
								<option value="quincy">IL - western IL</option>
								<option value="bloomington">IN - bloomington</option>
								<option value="evansville">IN - evansville</option>
								<option value="fortwayne">IN - fort wayne</option>
								<option value="indianapolis">IN - indianapolis</option>
								<option value="kokomo">IN - kokomo</option>
								<option value="tippecanoe">IN - lafayette / west lafayette</option>
								<option value="muncie">IN - muncie / anderson</option>
								<option value="richmondin">IN - richmond </option>
								<option value="southbend">IN - south bend / michiana</option>
								<option value="terrehaute">IN - terre haute</option>
								<option value="ames">IA - ames</option>
								<option value="cedarrapids">IA - cedar rapids</option>
								<option value="desmoines">IA - des moines</option>
								<option value="dubuque">IA - dubuque</option>
								<option value="fortdodge">IA - fort dodge</option>
								<option value="iowacity">IA - iowa city</option>
								<option value="masoncity">IA - mason city</option>
								<option value="quadcities">IA - quad cities</option>
								<option value="siouxcity">IA - sioux city</option>
								<option value="ottumwa">IA - southeast IA</option>
								<option value="waterloo">IA - waterloo / cedar falls</option>
								<option value="lawrence">KS - lawrence</option>
								<option value="ksu">KS - manhattan</option>
								<option value="nwks">KS - northwest KS</option>
								<option value="salina">KS - salina</option>
								<option value="seks">KS - southeast KS</option>
								<option value="swks">KS - southwest KS</option>
								<option value="topeka">KS - topeka</option>
								<option value="wichita">KS - wichita</option>
								<option value="bgky">KY - bowling green</option>
								<option value="eastky">KY - eastern kentucky</option>
								<option value="lexington">KY - lexington</option>
								<option value="louisville">KY - louisville</option>
								<option value="owensboro">KY - owensboro</option>
								<option value="westky">KY - western KY</option>
								<option value="batonrouge">LA - baton rouge</option>
								<option value="cenla">LA - central louisiana</option>
								<option value="houma">LA - houma</option>
								<option value="lafayette">LA - lafayette</option>
								<option value="lakecharles">LA - lake charles</option>
								<option value="monroe">LA - monroe</option>
								<option value="neworleans">LA - new orleans</option>
								<option value="shreveport">LA - shreveport</option>
								<option value="maine">ME - maine</option>
								<option value="annapolis">MD - annapolis</option>
								<option value="baltimore">MD - baltimore</option>
								<option value="easternshore">MD - eastern shore</option>
								<option value="frederick">MD - frederick</option>
								<option value="smd">MD - southern maryland</option>
								<option value="westmd">MD - western maryland</option>
								<option value="boston">MA - boston</option>
								<option value="capecod">MA - cape cod / islands</option>
								<option value="southcoast">MA - south coast</option>
								<option value="westernmass">MA - western massachusetts</option>
								<option value="worcester">MA - worcester / central MA</option>
								<option value="annarbor">MI - ann arbor</option>
								<option value="battlecreek">MI - battle creek</option>
								<option value="centralmich">MI - central michigan</option>
								<option value="detroit">MI - detroit metro</option>
								<option value="flint">MI - flint</option>
								<option value="grandrapids">MI - grand rapids</option>
								<option value="holland">MI - holland</option>
								<option value="jxn">MI - jackson </option>
								<option value="kalamazoo">MI - kalamazoo</option>
								<option value="lansing">MI - lansing</option>
								<option value="monroemi">MI - monroe </option>
								<option value="muskegon">MI - muskegon</option>
								<option value="nmi">MI - northern michigan</option>
								<option value="porthuron">MI - port huron</option>
								<option value="saginaw">MI - saginaw-midland-baycity</option>
								<option value="swmi">MI - southwest michigan</option>
								<option value="thumb">MI - the thumb</option>
								<option value="up">MI - upper peninsula</option>
								<option value="bemidji">MN - bemidji</option>
								<option value="brainerd">MN - brainerd</option>
								<option value="duluth">MN - duluth / superior</option>
								<option value="mankato">MN - mankato</option>
								<option value="minneapolis">MN - minneapolis / st paul</option>
								<option value="rmn">MN - rochester </option>
								<option value="marshall">MN - southwest MN</option>
								<option value="stcloud">MN - st cloud</option>
								<option value="gulfport">MS - gulfport / biloxi</option>
								<option value="hattiesburg">MS - hattiesburg</option>
								<option value="jackson">MS - jackson</option>
								<option value="meridian">MS - meridian</option>
								<option value="northmiss">MS - north mississippi</option>
								<option value="natchez">MS - southwest MS</option>
								<option value="columbiamo">MO - columbia / jeff city</option>
								<option value="joplin">MO - joplin</option>
								<option value="kansascity">MO - kansas city</option>
								<option value="kirksville">MO - kirksville</option>
								<option value="loz">MO - lake of the ozarks</option>
								<option value="semo">MO - southeast missouri</option>
								<option value="springfield">MO - springfield</option>
								<option value="stjoseph">MO - st joseph</option>
								<option value="stlouis">MO - st louis</option>
								<option value="billings">MT - billings</option>
								<option value="bozeman">MT - bozeman</option>
								<option value="butte">MT - butte</option>
								<option value="greatfalls">MT - great falls</option>
								<option value="helena">MT - helena</option>
								<option value="kalispell">MT - kalispell</option>
								<option value="missoula">MT - missoula</option>
								<option value="montana">MT - montana (old)</option>
								<option value="grandisland">NE - grand island</option>
								<option value="lincoln">NE - lincoln</option>
								<option value="northplatte">NE - north platte</option>
								<option value="omaha">NE - omaha / council bluffs</option>
								<option value="scottsbluff">NE - scottsbluff / panhandle</option>
								<option value="elko">NV - elko</option>
								<option value="lasvegas">NV - las vegas</option>
								<option value="reno">NV - reno / tahoe</option>
								<option value="nh">NH - new hampshire</option>
								<option value="cnj">NJ - central NJ</option>
								<option value="jerseyshore">NJ - jersey shore</option>
								<option value="newjersey">NJ - north jersey</option>
								<option value="southjersey">NJ - south jersey</option>
								<option value="albuquerque">NM - albuquerque</option>
								<option value="clovis">NM - clovis / portales</option>
								<option value="farmington">NM - farmington</option>
								<option value="lascruces">NM - las cruces</option>
								<option value="roswell">NM - roswell / carlsbad</option>
								<option value="santafe">NM - santa fe / taos</option>
								<option value="albany">NY - albany</option>
								<option value="binghamton">NY - binghamton</option>
								<option value="buffalo">NY - buffalo</option>
								<option value="catskills">NY - catskills</option>
								<option value="chautauqua">NY - chautauqua</option>
								<option value="elmira">NY - elmira-corning</option>
								<option value="fingerlakes">NY - finger lakes</option>
								<option value="glensfalls">NY - glens falls</option>
								<option value="hudsonvalley">NY - hudson valley</option>
								<option value="ithaca">NY - ithaca</option>
								<option value="longisland">NY - long island</option>
								<option value="newyork">NY - new york city</option>
								<option value="oneonta">NY - oneonta</option>
								<option value="plattsburgh">NY - plattsburgh-adirondacks</option>
								<option value="potsdam">NY - potsdam-canton-massena</option>
								<option value="rochester">NY - rochester</option>
								<option value="syracuse">NY - syracuse</option>
								<option value="twintiers">NY - twin tiers NY/PA</option>
								<option value="utica">NY - utica-rome-oneida</option>
								<option value="watertown">NY - watertown</option>
								<option value="asheville">NC - asheville</option>
								<option value="boone">NC - boone</option>
								<option value="charlotte">NC - charlotte</option>
								<option value="eastnc">NC - eastern NC</option>
								<option value="fayetteville">NC - fayetteville</option>
								<option value="greensboro">NC - greensboro</option>
								<option value="hickory">NC - hickory / lenoir</option>
								<option value="onslow">NC - jacksonville </option>
								<option value="outerbanks">NC - outer banks</option>
								<option value="raleigh">NC - raleigh / durham / CH</option>
								<option value="wilmington">NC - wilmington</option>
								<option value="winstonsalem">NC - winston-salem</option>
								<option value="bismarck">ND - bismarck</option>
								<option value="fargo">ND - fargo / moorhead</option>
								<option value="grandforks">ND - grand forks</option>
								<option value="nd">ND - north dakota</option>
								<option value="akroncanton">OH - akron / canton</option>
								<option value="ashtabula">OH - ashtabula</option>
								<option value="athensohio">OH - athens </option>
								<option value="chillicothe">OH - chillicothe</option>
								<option value="cincinnati" selected="selected">OH - cincinnati</option>
								<option value="cleveland">OH - cleveland</option>
								<option value="columbus">OH - columbus</option>
								<option value="dayton">OH - dayton / springfield</option>
								<option value="limaohio">OH - lima / findlay</option>
								<option value="mansfield">OH - mansfield</option>
								<option value="sandusky">OH - sandusky</option>
								<option value="toledo">OH - toledo</option>
								<option value="tuscarawas">OH - tuscarawas co</option>
								<option value="youngstown">OH - youngstown</option>
								<option value="zanesville">OH - zanesville / cambridge</option>
								<option value="lawton">OK - lawton</option>
								<option value="enid">OK - northwest OK</option>
								<option value="oklahomacity">OK - oklahoma city</option>
								<option value="stillwater">OK - stillwater</option>
								<option value="tulsa">OK - tulsa</option>
								<option value="bend">OR - bend</option>
								<option value="corvallis">OR - corvallis/albany</option>
								<option value="eastoregon">OR - east oregon</option>
								<option value="eugene">OR - eugene</option>
								<option value="klamath">OR - klamath falls</option>
								<option value="medford">OR - medford-ashland</option>
								<option value="oregoncoast">OR - oregon coast</option>
								<option value="portland">OR - portland</option>
								<option value="roseburg">OR - roseburg</option>
								<option value="salem">OR - salem</option>
								<option value="altoona">PA - altoona-johnstown</option>
								<option value="chambersburg">PA - cumberland valley</option>
								<option value="erie">PA - erie</option>
								<option value="harrisburg">PA - harrisburg</option>
								<option value="lancaster">PA - lancaster</option>
								<option value="allentown">PA - lehigh valley</option>
								<option value="meadville">PA - meadville</option>
								<option value="philadelphia">PA - philadelphia</option>
								<option value="pittsburgh">PA - pittsburgh</option>
								<option value="poconos">PA - poconos</option>
								<option value="reading">PA - reading</option>
								<option value="scranton">PA - scranton / wilkes-barre</option>
								<option value="pennstate">PA - state college</option>
								<option value="williamsport">PA - williamsport</option>
								<option value="york">PA - york</option>
								<option value="providence">RI - rhode island</option>
								<option value="charleston">SC - charleston</option>
								<option value="columbia">SC - columbia</option>
								<option value="florencesc">SC - florence</option>
								<option value="greenville">SC - greenville / upstate</option>
								<option value="hiltonhead">SC - hilton head</option>
								<option value="myrtlebeach">SC - myrtle beach</option>
								<option value="nesd">SD - northeast SD</option>
								<option value="csd">SD - pierre / central SD</option>
								<option value="rapidcity">SD - rapid city / west SD</option>
								<option value="siouxfalls">SD - sioux falls / SE SD</option>
								<option value="sd">SD - south dakota</option>
								<option value="chattanooga">TN - chattanooga</option>
								<option value="clarksville">TN - clarksville</option>
								<option value="cookeville">TN - cookeville</option>
								<option value="jacksontn">TN - jackson  </option>
								<option value="knoxville">TN - knoxville</option>
								<option value="memphis">TN - memphis</option>
								<option value="nashville">TN - nashville</option>
								<option value="tricities">TN - tri-cities</option>
								<option value="abilene">TX - abilene</option>
								<option value="amarillo">TX - amarillo</option>
								<option value="austin">TX - austin</option>
								<option value="beaumont">TX - beaumont / port arthur</option>
								<option value="brownsville">TX - brownsville</option>
								<option value="collegestation">TX - college station</option>
								<option value="corpuschristi">TX - corpus christi</option>
								<option value="dallas">TX - dallas / fort worth</option>
								<option value="nacogdoches">TX - deep east texas</option>
								<option value="delrio">TX - del rio / eagle pass</option>
								<option value="elpaso">TX - el paso</option>
								<option value="galveston">TX - galveston</option>
								<option value="houston">TX - houston</option>
								<option value="killeen">TX - killeen / temple / ft hood</option>
								<option value="laredo">TX - laredo</option>
								<option value="lubbock">TX - lubbock</option>
								<option value="mcallen">TX - mcallen / edinburg</option>
								<option value="odessa">TX - odessa / midland</option>
								<option value="sanangelo">TX - san angelo</option>
								<option value="sanantonio">TX - san antonio</option>
								<option value="sanmarcos">TX - san marcos</option>
								<option value="bigbend">TX - southwest TX</option>
								<option value="texoma">TX - texoma</option>
								<option value="easttexas">TX - tyler / east TX</option>
								<option value="victoriatx">TX - victoria </option>
								<option value="waco">TX - waco</option>
								<option value="wichitafalls">TX - wichita falls</option>
								<option value="logan">UT - logan</option>
								<option value="ogden">UT - ogden-clearfield</option>
								<option value="provo">UT - provo / orem</option>
								<option value="saltlakecity">UT - salt lake city</option>
								<option value="stgeorge">UT - st george</option>
								<option value="burlington">VT - vermont</option>
								<option value="charlottesville">VA - charlottesville</option>
								<option value="danville">VA - danville</option>
								<option value="fredericksburg">VA - fredericksburg</option>
								<option value="norfolk">VA - hampton roads</option>
								<option value="harrisonburg">VA - harrisonburg</option>
								<option value="lynchburg">VA - lynchburg</option>
								<option value="blacksburg">VA - new river valley</option>
								<option value="richmond">VA - richmond</option>
								<option value="roanoke">VA - roanoke</option>
								<option value="swva">VA - southwest VA</option>
								<option value="winchester">VA - winchester</option>
								<option value="bellingham">WA - bellingham</option>
								<option value="kpr">WA - kennewick-pasco-richland</option>
								<option value="moseslake">WA - moses lake</option>
								<option value="olympic">WA - olympic peninsula</option>
								<option value="pullman">WA - pullman / moscow</option>
								<option value="seattle">WA - seattle-tacoma</option>
								<option value="skagit">WA - skagit / island / SJI</option>
								<option value="spokane">WA - spokane / coeur d'alene</option>
								<option value="wenatchee">WA - wenatchee</option>
								<option value="yakima">WA - yakima</option>
								<option value="charlestonwv">WV - charleston </option>
								<option value="martinsburg">WV - eastern panhandle</option>
								<option value="huntington">WV - huntington-ashland</option>
								<option value="morgantown">WV - morgantown</option>
								<option value="wheeling">WV - northern panhandle</option>
								<option value="parkersburg">WV - parkersburg-marietta</option>
								<option value="swv">WV - southern WV</option>
								<option value="wv">WV - west virginia (old)</option>
								<option value="appleton">WI - appleton-oshkosh-FDL</option>
								<option value="eauclaire">WI - eau claire</option>
								<option value="greenbay">WI - green bay</option>
								<option value="janesville">WI - janesville</option>
								<option value="racine">WI - kenosha-racine</option>
								<option value="lacrosse">WI - la crosse</option>
								<option value="madison">WI - madison</option>
								<option value="milwaukee">WI - milwaukee</option>
								<option value="northernwi">WI - northern WI</option>
								<option value="sheboygan">WI - sheboygan</option>
								<option value="wausau">WI - wausau</option>
								<option value="wyoming">WY - wyoming</option>
							</select>
							<select name="category" class="step2">
								<option value="sss">All Categories</option>
								<option value="ppa">Appliances</option>
								<option value="ara">Arts+crafts</option>
								<option value="ata">Antiques</option>
								<option value="pta">Auto parts</option>
								<option value="baa">Baby+kids</option>
								<option value="bar">Barter</option>
								<option value="haa">Beauty+hlth</option>
								<option value="bia">Bikes</option>
								<option value="boo">Boats</option>
								<option value="bka">Books</option>
								<option value="bfa">Business</option>
								<option value="cta">Cars+trucks</option>
								<option value="ema">Cds/dvd/vhs</option>
								<option value="moa">Cell phones</option>
								<option value="cla">Clothes+acc</option>
								<option value="sya">Computer</option>
								<option value="cba">Collectibles</option>
								<option value="ela">Electronics</option>
								<option value="gra">Farm+garden</option>
								<option value="zip">Free</option>
								<option value="fua">Furniture</option>
								<option value="gms">Garage sale</option>
								<option value="foa">General</option>
								<option value="hsa">Household</option>
								<option value="jwa">Jewelry</option>
								<option value="maa">Materials</option>
								<option value="mca">Motorcycles</option>
								<option value="msa">Music instr</option>
								<option value="pha">Photo+video</option>
								<option value="rva">Rvs</option>
								<option value="sga">Sporting</option>
								<option value="tia">Tickets</option>
								<option value="tla">Tools</option>
								<option value="taa">Toys+games</option>
								<option value="vga">Video gaming</option>
								<option value="wan">Wanted</option>
							</select>
							<input name="searchTerm" type="text" class="search-query step3" placeholder="Search">
							<button type="button" class="btn btn-primary search">Search</button>
							<img class="processing" src="assets/loading_animation.gif"/>
						</form>
					</div>
				</div>
			</div><!-- /navbar-inner -->
		</div>
	</header>
	<section class="body">
		<%= yield %>
	</section>
	<footer>
		<div class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="navbar-inner">
	        	<div class="container">
	        		<p class="navbar-text"><span class="label label-warning">WARNING:</span> This could break at any moment due to Craigslist banning the app. If you have any questions or feature requests email me: <a href="mailto:brucehubbard@gmail.com">brucehubbard@gmail.com</a></p>
	        	</div>
	        </div>
		</div>
	</footer>

<script id="listingTpl" type="text/x-handlebars-template">
	<div class="listing">
	  	<a href="{{link}}" target="_blank">
		  {{#if pics}}
		  		<img src="{{../pics.0.}}"/>
		  {{/if}}
		  {{^pics}}
		  		<img src="assets/no-photo.jpeg"/>
		  {{/pics}}
	  	</a>
  		<div class="price"><span>{{price}}</span></div>
	  	<div class="info-block">
	  		<div class="info">
		  		<div class="title">{{title}}</div>
	  		{{#ifMoreThanOne pics}}
		  		<div class="thumbs">
		  		{{#pics}}
		  			<img src="{{thumbnail .}}"/>
		  		{{/pics}}
		  		</div>
		  	{{/ifMoreThanOne}}
	  		</div>
	  	</div>
	</div>
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38235695-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
